# Eclipse Core settings
.project
.classpath
.settings/

# Build output directories
bin/
target/

# Maven specific
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

